.title {
    font-size: 60px;
}

.large-btn {
    font-size: 26px;
    border-radius: var(--button-border-radius);
    border: 3px solid var(--main-button-border-color);
}

.rooms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 50px;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
    padding: 15px;
    border-radius: var(--block-border-radius);
    border: 3px solid var(--main-button-border-color);
}

.room span {
    align-self: start;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
}

.user {
    margin-top: 50px;
}

.user-name {
    margin-bottom: 20px;
}

.user-progress {
    border-radius: var(--block-border-radius);
    border: 3px solid var(--main-button-border-color);
    height: 30px;
    margin-bottom: 30px;
}
.progress-bar {
    background-color: lightgreen;
    height: 100%;
    width: 0%;
}

.ready-status-red,
.ready-status-green {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 15px;
}
.ready-status-red {
    background-color: red;
}

.ready-status-green {
    background-color: lightgreen;
}

.text-container {
    border-radius: var(--block-border-radius);
    border: 3px solid var(--main-button-border-color);
    position: relative;
    width: 760px;
    height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: bold;
    padding: 30px;
}

.text-container li {
    list-style: none;
    font-size: 24px;
}

.text-container .new-game-btn {
    margin-top: 20px;
    font-size: 24px;
}

.ready-btn {
    font-size: 60px;
    padding: 20px;
}

.text-game {
    font-size: 22px;
    font-weight: normal;
    position: relative;
}

.letter-done {
    background-color: lightgreen;
}

.letter-next {
    position: relative;
}

.letter-next::before {
    background-color: lightgreen;
    position: absolute;
    width: 100%;
    height: 2px;
    content: "";
    bottom: 0px;
    left: 0;
}

.game-counter {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}

.commentator-text-container {
    position: relative;
    min-height: 300px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: var(--main-button-background-color);
    border-radius: var(--block-border-radius);
    border: 3px solid var(--main-button-border-color);
}

.commentator-text-container::before {
    display: block;
    position: absolute;
    content: "";
    width: 80px;
    height: 135px;
    bottom: -90px;
    left: 85px;
    background-color: var(--main-button-background-color);
    transform: rotate(142deg);
}

.commentator-text-container::after {
    display: block;
    position: absolute;
    content: "";
    background-color: var(--white);
    width: 74px;
    height: 160px;
    bottom: -143px;
    left: 87px;
    transform: rotate(108deg);
}

.commentator-text {
    font-size: 22px;
    font-weight: 500;
    animation: fade-in 0.3s 1 forwards;
}

.commentator-avatar {
    width: 200px;
    margin-left: auto;
}
